.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px;
    padding: 0;
    box-sizing: border-box;
}
.about-us{
    background: #e0e0e0;
    margin: 0;
    padding: 0;
}