/* .container {
  padding: 20px;
}

.section {
  text-align: center;
  margin-bottom: 20px;
}

.section h1 {
  font-size: 2.5em;
  font-weight: bold;
}

.row {
  display: flex;
  justify-content: center;
}

.service-box-items {
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  max-width: 600px;
  text-align: left;
}

.icon h3 {
  font-size: 1.8em;
  margin-bottom: 10px;
}

.icon p {
  font-size: 1.2em;
  margin-bottom: 10px;
}

.icon ul {
  list-style-type: disc;
  padding-left: 20px;
}

.icon li {
  font-size: 1.1em;
  margin-bottom: 5px;
} */

.services-page{
  background: #fff;
}
.service-hero {
  width: 100%;
  min-height: 20vh;
  background: linear-gradient(rgba(8,0,58,0.7),rgba(8,0,58,0.7)), url('../../assets/about_image 2.jpeg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-text {
  max-width: 800px;
  padding: 0 20px;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.hero-text h1 {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.2;
}


@media (max-width: 850px) {
  .hero-text h1 {
    font-size: 45px;
  }
}


@media (max-width: 650px) {
  .hero-text {
    max-width: 90%;
  }

  .hero-text h1 {
    font-size: 32px;
  }
}


@media (max-width: 450px) {
  .hero-text h1 {
    font-size: 28px;
  }
}
