.hero {
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(rgba(8,0,58,0.7), rgba(8,0,58,0.7)), url('../../assets/about_img.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px; 
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.hero-text {
    max-width: 800px;
}

.hero-text h1 {
    font-size: 60px;
    font-weight: 600;
}

.hero-text p {
    max-width: 700px;
    margin: 10px auto 20px;
    line-height: 1.5;
    font-size: 1.1rem;
}

.btn {
    background: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 25px;
    cursor: pointer;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.3s ease-in-out, transform 0.2s;
}

.btn:hover {
    background: #ddd;
    transform: scale(1.05);
}


@media (max-width: 850px) {
    .hero-text h1 {
        font-size: 40px;
    }
}


@media (max-width: 650px) {
    .hero-text {
        max-width: 90%;
    }
    
    .hero-text h1 {
        font-size: 30px;
        margin: auto;
    }
    
    .hero-text p {
        font-size: 14px;
        margin: 15px auto 30px;
        line-height: 1.4;
    }

    .btn {
        padding: 10px 20px;
        font-size: 0.9rem;
    }
}
